.tabs {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 16px 0;
    border-bottom: 1px solid lightslategray;
    overflow-y: hidden;
}

.tabs__item {
    display: flex;
    align-items: center;
    width: 180px;
    padding: 8px;
    border-radius: 8px 8px 0 0;
    border: 1px solid rgba(255, 255, 255, 0);

    transition: all 0.3ms ease-in;
}

.tabs__item > input {
    display: none;
}

.tabs__item > label {
    width: 100%;
}

.tabs__item_checked {
    border: 1px solid lightslategray;
    border-bottom: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.9);
}

.tabs__item:hover {
    text-decoration: underline;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.tabs__item_checked:hover {
    text-decoration: underline;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.9);
}